@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
:root {
  --bred-blue: #1f3b4d;
  --bred-light-blue: #d0fefe;
  --bred-dark-blue: #1a303f;
  --bred-yellow: #f9da6f;
  --bred-white: #ffff;
  --bred-mobile-bg-blue-gradient-start: #1f3b4d;
  --bred-mobile-bg-blue-gradient-end: ##060c0f;
  --bred-font: "Poppins", sans-serif;
  --bred-radius: 8px;
}

body {
  margin: 0;
  height: 100vh;
  font-family: var(--bred-font);
  background: radial-gradient(circle, #1f3b4d 0%, #060c0f 75%);
}

img {
  width: 100%;
}

section {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 2em;
}

header h1 {
  color: var(--bred-yellow);
  font-size: 1.2rem;
}

header svg {
  height: 2em;
  width: 2em;
}

button {
  border: none;
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.bred-section-slogan {
  line-height: 0px;
  padding: 1.2em;
  margin-bottom: 2.5em;
  position: relative;
  z-index: 10;
}

.bred-section-slogan h2 {
  font-size: 3em;
  padding: 0.5rem;
  text-transform: uppercase;
}

.bred-section-slogan .italic {
  font-style: italic;
  color: var(--bred-white);
}

.bred-section-slogan .bold {
  font-weight: bolder;
  color: var(--bred-yellow);
  margin-left: 1.2em;
}

.bred-section-img {
  position: relative;
  top: -8rem;
  right: -2em;
  border-radius: var(--bred-radius);
  -webkit-box-shadow: 8px 0px 0px 4px #ffffff;
  box-shadow: 8px 0px 0px 4px #ffffff;
}

.bred-page-indicator-badge {
  height: 4rem;
  width: 4rem;
  background-color: var(--bred-light-blue);
  border-radius: var(--bred-radius);
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: relative;
  top: -150px;
  right: -80%;
}

.bred-page-indicator-badge span {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  color: var(--bred-blue);
}

.bred-cta-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bred-more-info-button {
  position: relative;
  background-color: var(--bred-light-blue);
  color: var(--bred-blue);
  border-radius: 30px;
  height: 3em;
  width: 12em;
  font-weight: 900;
  bottom: 100px;
}

.bred-more-info-button span {
  font-size: 1.5em;
}

.bred-lightbulb-wrapper .bred-lightbulb {
  position: relative;
  bottom: 3em;
}

.bred-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  position: relative;
  top: -5.5em;
}

.bred-slogan h2 {
  color: var(--bred-yellow);
  line-height: 0;
}

.bred-slogan h3 {
  color: var(--bred-light-blue);
  line-height: 0;
}

.bred-slogan span {
  color: var(--bred-white);
}

.bred-slogan svg {
  padding-top: 1.8em;
}

.bred-page-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -4.5em;
}

.bred-page-indicator svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 3em;
  width: 5em;
}
/*# sourceMappingURL=main.css.map */