@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");

:root {
  --bred-blue: #1f3b4d;
  --bred-light-blue: #d0fefe;
  --bred-dark-blue: #1a303f;
  --bred-yellow: #f9da6f;
  --bred-white: #ffff;
  --bred-mobile-bg-blue-gradient-start: #1f3b4d;
  --bred-mobile-bg-blue-gradient-end: ##060c0f;
  --bred-font: "Poppins", sans-serif;
  --bred-radius: 8px;
}

body {
  //overflow: hidden;
  margin: 0;
  height: 100vh;
  font-family: var(--bred-font);
}

img {
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

// KEEP AN EYE: this is due to header height and avoid bigger size than 100vh (causes scroll)
section,
main {
  height: 90vh;
  display: grid;
  place-content: center;
  overflow: hidden;
  position: relative;
  top: -55px;
}

main {
  background: url("../svg/radials_with_stars.svg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;

  h1 {
    color: var(--bred-yellow);
    font-size: 1.2rem;
  }
  svg {
    height: 2em;
    width: 2em;
  }
}

button {
  border: none;
}

// START ANIMATION CLASSES
.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
// EDN ANIMATION CLASSES

// START COMMON CLASSES

#scroll {
  text-transform: uppercase;
  text-decoration: underline;
  position: absolute;
  bottom: 3rem;
  color: var(--bred-white);
  transform: rotate(-90deg);
}

#highlight {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  color: var(--bred-yellow);
}

#bold {
  font-weight: 900;
  color: var(--bred-white);
}

#numeric-bold {
  font-weight: 550;
}

#title-italic {
  font-style: italic;
  text-decoration: underline;
}

//The following class indicates the title of the section

.bred-section-slogan {
  line-height: 0px;
  padding: 1.2em;
  margin-bottom: 2.5em;
  position: relative;
  z-index: 10;

  h2 {
    font-size: 3em;
    padding: 0.5rem;
    text-transform: uppercase;
  }

  .italic {
    font-style: italic;
    color: var(--bred-white);
  }
  .bold {
    font-weight: bolder;
    color: var(--bred-yellow);
    margin-left: 1.2em;
  }
}

.bred-section-img {
  position: relative;
  top: -8rem;
  right: -2em;
  border-radius: var(--bred-radius);
  -webkit-box-shadow: 8px 0px 0px 4px #ffffff;
  box-shadow: 8px 0px 0px 4px #ffffff;
}

// The following classes indicates the page you are looking to
.bred-page-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: -80%;

  svg {
    transform: rotate(-90deg);
    height: 3em;
    width: 5em;
  }
}

//The following classes indicates the badge number of the class
.bred-page-indicator-badge {
  height: 4rem;
  width: 4rem;
  background-color: var(--bred-light-blue);
  border-radius: var(--bred-radius);
  display: grid;
  place-content: center;
  position: relative;
  top: -150px;
  right: -80%;

  span {
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    color: var(--bred-blue);
  }
}

.bred-cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

//The following classes indicates the show more cta
.bred-more-info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: var(--bred-light-blue);
  color: var(--bred-blue);
  border-radius: 30px;
  height: 3em;
  width: 12em;
  font-weight: 900;
  bottom: 100px;

  span {
    font-size: 1.5em;
  }
}
// END COMMON CLASSES

.bred-landing {
  background: radial-gradient(
    circle,
    rgba(31, 59, 77, 1) 0%,
    rgba(6, 12, 15, 1) 75%
  );
}

.bred-main {
  //image should be changed due to export error for the lightbulb wire
  .bred-lightbulb-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bred-lightbulb {
      width: 40%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 38em;
      margin: auto;
      z-index: 2;
    }
    .bred-clouds {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 3;
    }
    .bred-stars {
      // position: absolute;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
      // z-index: 4;
      // opacity: 0.5;
    }
  }

  .bred-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: relative;
    bottom: 7em;

    h2 {
      color: var(--bred-yellow);
      line-height: 0;
    }
    h3 {
      color: var(--bred-light-blue);
      line-height: 0;
    }
    span {
      color: var(--bred-white);
    }

    svg {
      padding-top: 1.8em;
    }
  }

  .bred-arrow {
    animation: bounce 2s infinite ease;

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-5px);
      }
      60% {
        transform: translateY(-10px);
      }
    }
  }
}

.bred-hero {
  display: none;
}

.bred-skills {
  display: none;
}

.bred-about {
  display: none;
}

.bred-scarlatte {
  display: none;
}

.bred-skills-page {
  position: relative;
  height: 100vh;
  background: linear-gradient(#266187, #060c0f);

  .bred-header {
    width: 85%;
    z-index: 2;
    position: absolute;
  }

  .bred-page-image {
    position: absolute;
    overflow: hidden;
    width: 200%;
    z-index: 1;
  }

  .bred-section-slogan {
    position: absolute;
    top: 45%;
  }

  .bred-slogan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    top: 75%;
    color: var(--bred-white);

    .bred-arrow {
      svg {
        margin: 0px 8px;
        height: 14px;
        width: 14px;
      }
    }
  }

  .bred-page-image-desc {
    position: absolute;
    right: -31%;
    top: 64%;
    z-index: 2;
    transform: rotate(90deg);
    color: var(--bred-white);
    letter-spacing: 1px;
    font-size: 10px;
  }
}

.bred-skills-page-details {
  color: var(--bred-blue);
  padding: 1em;

  .bred-skills-title {
    font-size: 3em;
  }

  .bred-skills-container {
    margin: 0 1em;
  }

  .bred-projects-container {
    margin: 0 1em;
  }

  .bred-skills-desc-contianer {
    .bred-skills-desc {
      margin-top: 1em;
    }
  }

  .bred-skills-badge-container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .bred-skills-badge {
      border: 3px solid var(--bred-blue);
      border-radius: 40px;
      padding: 1em;
      margin: 0.2em;
    }
  }

  .bred-projects-container {
    .bred-projects-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-size: 3em;
      span {
        margin: 10px;
      }
    }
    .bred-projects-desc-container {
      .bred-projects-desc {
        margin-top: 1em;
      }
    }
  }

  .bred-image-projects-container {
    .bred-image-projects {
      position: relative;
      margin-top: 2em;
      width: 120%;
      right: 50px;
      border-radius: var(--bred-radius);
      -webkit-box-shadow: 8px 0px 0px 4px var(--bred-blue);
      box-shadow: -19px 0px 0px 8px var(--bred-blue);
    }
  }
}

.bred-footer {
  background-color: var(--bred-blue);
  color: var(--bred-white);
  min-height: 15em;
  font-size: 0.8em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .bred-footer-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    line-height: 2.4em;
  }

  .bred-footer-copyright {
    font-size: 0.7em;
  }
}
